.icon-social-media {
    width: 75%;
}

.rectangule-search {
    width: 100%;
    height: 18%;
    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3em;
    padding-left: 0.5em;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    width: 85%;
}

.icon-social-search {
    height: 90%;
}
