header {
    display: grid;
    grid-template-rows: 75% auto;
}

.social-media {
    grid-row: 1/2;
    display: grid;
    grid-column-gap: 1.7%;
    grid-template-columns: 10fr repeat(15, 5.4fr)  10fr;
    background-color: #ecf0f1;
}

.social-media > ul {
    grid-column: 2/13;
    grid-row: 1/2;

    display: grid;
    grid-column-gap: 1.7%;
    grid-template-columns: repeat(11, 5.4fr);

    align-items: center;
}

.social-media > ul > :first-child {
    grid-column: 1/2;
}

.social-media > ul > :nth-child(2) {
    grid-column: 2/3;
}

.social-media > ul > :nth-child(3) {
    grid-column: 3/4;
}

.nav-site {
    grid-row: 2/3;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #71d6e1;
}

/* ----------------------------------------------- */

.search {
    grid-column: 13/17;

    display: flex;
    align-items: center;
}

/* ----------------------------------------------- */

.nav-site > a {
    margin: 1%;
}
