#app {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-column-gap: 1.7%;
    grid-template-columns: 10fr repeat(15, 5.4fr)  10fr;
    grid-template-rows: 27vh auto;
}

header {
    grid-column: 1/18;
    grid-row: 1/2;
}

main {
    grid-column: 2/17;
    grid-row: 2/3;
}
