<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>


<!-- <router-link to="/">Home</router-link> |
<router-link to="/about">About</router-link> -->
<!-- <router-view/> -->
